<!--The content below is only a placeholder and can be replaced.-->
<div class="row" style="text-align:center">
  <div class="col-sm-12">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <input [(ngModel)]="asyncSelected"
           [typeahead]="dataSource"
           (typeaheadLoading)="changeTypeaheadLoading($event)"
           (typeaheadOnSelect)="typeaheadOnSelect($event)"
           [typeaheadOptionsLimit]="7"
           typeaheadOptionField="game.name"
           placeholder="Select a Game"
           class="">
  <div *ngIf="typeaheadLoading">Loading</div>
  </div>
</div>

<div class="Clips" >
    <div class="col-sm-12 padding-class" *ngFor="let clip of clips | slice:0:1">
        <h1> Top Clip Of The Week</h1>
        <h2>{{ clip.broadcaster.name }}</h2>
      <div>
        <iframe [src]="clip.embed_url + '&autoplay=false' | safeURL"  width='600' height='360' frameborder='0' scrolling='no' preload='metadata' allowfullscreen='true'></iframe>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-sm-4 padding-class" *ngFor="let clip of clips | slice:1">
    <h1 style="text-align: center">{{ clip.broadcaster.name }}</h1>
    <iframe [src]="clip.embed_url + '&autoplay=false' | safeURL"  width='600' height='360' frameborder='0' scrolling='no' allowfullscreen='true'></iframe>
  </div>
</div>



